*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #0F4C85;
}

ul,li{
    padding: 0;
}


.forgot-wrapper{
    max-width: 600px;
    margin: 40px auto;
    background-color: #0F4C85;
    border-radius: 10px;
    padding: 60px 60px;
}

.forgot-page{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.left{
    border: 3px solid #FE0000;
    border-radius: 20px;
    padding: 20px;
}

.left h2{
    font-size: 30px;
    color: #0F4C85;
}

.left label span{
    color: #FE0000;
}

.site-btn{
    display: inline-block;
    min-width: 200px;
    width: 100%;
    font-size: 18px;
    background-color: #0F4C85;
    border: 1px solid #0F4C85;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 10px;
    transition-timing-function: ease-in-out;
}
.site-btn:hover{
    border:1px solid #FE0000;
    background-color: #fff;
    color: #FE0000;
}

.Forgotpassword{
    font-size: 14px;
    text-align: right;
}

/*RESPONSIVE*/

@media screen and (max-width: 375px) {

    .forgot-wrapper {
        max-width: 300px;
        margin: 60px auto;
        padding: 32px 18px;
    }

    .site-btn {
        min-width: 180px; 
    }

    .left h2 {
        font-size: 23px;
    }
  
   }