* {
    box-sizing: border-box;
}
.font{
    font-size: 12px;
}
body {
    margin: 0;
    overflow-x: hidden;
}

.img {
    width: 100%;
    height: auto;
}

.site-btn {
    display: inline-block;
    min-width: 300px;
    font-size: 18px;
    background-color: rgb(15, 76, 133);
    border: 1px solid #0F4C85;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 10px;
    transition-timing-function: ease-in-out;
}

.site-btn:hover {
    border: 1px solid #FE0000;
    background-color: #fff;
    color: #FE0000;
}

p .big {
    font-size: 12px;
    color: rgba(0, 16, 51, 0.75);
}

.container-fluid {
    background: rgb(243, 243, 249);
}

/* Collapse btn  */

.btn-3 {
    color: rgb(255, 255, 255, 0.60);
    background-color: #0F4C85;
}

.btn-3 i {
    margin: 5px;
}

.link-body-emphasis {
    color: rgb(255, 255, 255, 0.60) !important;
}

.link-body-emphasis:hover {
    color: #FE0000 !important;
}

/*side-navbar*/


.side-navbar {
    padding: 20px;
    background-color: rgb(15, 76, 133);
    height: 100%;
}

.side-navbar .logo {
    text-align: center;
    background-color: rgb(15, 76, 133);
}

.side-navbar .logo img {
    max-width: 150px;
    border-radius: 12px;
}

/*menu*/

.menu h3 {
    color: rgb(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
    text-transform: uppercase;
}

.menu h3:hover {
    color: #FE0000;
}

.drop-btn {
    background: transparent;
    color: rgb(255 255 255 / 60%);
    border: 1px solid transparent;
}

.dropdown .dropdown-toggle::after {
    margin-left: 1.255em;
    font-size: 20px;
}

.dropdown-menu.show {
    width: 100%;
}

.dropdown-menu {
    background-color: rgb(15, 76, 133);
    padding: 20px;
    border: 1px solid transparent;
}

.dropdown button:focus:not(:focus-visible) {
    border: 1px solid transparent;
}


.menu ul li {
    list-style-type: none;
    padding: 7px 0px;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.60);
}

.menu ul li a:hover {
    color: #FE0000;
}


/*top-right-navbar*/

.top-right-navbar {
    margin-top: 20px;
    background: rgb(243, 243, 249);
}

.top-navbar {
    background-color: #fff;
}

.top-right-navbar a {
    text-decoration: none;
    color: #0F4C85;
}

.search-input .form-control {
    border: none;
    background-color: rgb(243, 243, 249);
    color: #495057;
}

/* icons-button */

.btn-2 {
    border: 1px solid transparent;
    background: transparent;
    padding: 0 16px;
}


/* profile-main */

.profile-main .profile-btn {
    padding: 5px 5px;
    border: 1px solid transparent;
}

.profile-main .dropdown-toggle::after {
    display: none;
}

.profile-main button {
    background: transparent;
}

.profile {
    background-color: rgb(243, 243, 249);
    padding: 5px;
    border-radius: 5px;
}

.profile img {
    max-width: 52px;
    border-radius: 55%;
}

.profile p {
    margin-bottom: 2px;
    text-align: left;
    font-size: 14px;
    margin-left: 6px;
}

.profile-dropdown {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(30, 32, 37, .12);
    color: #0F4C85;
}

.profile-dropdown a:hover {
    color: #FE0000;
}

.profile-dropdown ul li a {
    padding: 12px 0;
}

.profile-dropdown h6 {
    font-size: 14px;
}

.profile-dropdown i {
    margin-right: 12px;
}

.profile-dropdown li {
    padding: 7px 0;
}

/*section-1*/

.section-1 {
    background-color: rgb(243, 243, 249);
    padding: 20px;
}

.section-1 .left h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
}

.section-1 .left p {
    font-size: 14px;
}

.right {
    max-width: 500px;
    margin: 0 0 0 auto;
}

.section-1 .site-btn {
    border-radius: 23px;
    min-width: 135px;
    font-size: 14px;
    margin-left: 12px;
}

/* section-2*/

.section-2 {
    background-color: rgb(243, 243, 249);
    padding: 20px;
}

.card-1 {
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
}


.card-animate {
    transition: all .4s;
}

.card-animate:hover {
    box-shadow: 0 5px 10px rgba(30, 32, 37, .12);
    margin-bottom: 1px;
}

.card-head {
    margin-bottom: 20px;
}

.card-1-left h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #878a99;
}

.card-1-right {
    color: rgb(10 179 156);
}

.card-1-right i {
    font-size: 10px;
}

.card-1-right p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}

.card-body-left a {
    color: rgb(15, 76, 133);
}

.card-body-left h3 {
    font-size: 20px;
    font-weight: 700;
    color: #495057;
    margin-bottom: 20px;
}

.card-body-right {
    padding: 10px 15px;
    background-color: rgb(10 179, 156, 0.23);
    border-radius: 7px;
}

.card-body-right i {
    font-size: 22px;
    color: rgb(10 179 156);
}



/*col-lg-8..left-side.. <<<Revenue>>wali side*/

.left-side {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 12px 12px 0 0;
    margin-top: 20px;
}

.left-side h3 {
    color: #495057;
    font-size: 19px;
}

.left-side .min-btn {
    background-color: rgb(15, 76, 133, 0.3);
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 8px;
}

.left-side .min-btn:last-of-type {
    margin-right: 0px;
}

.left-side .min-btn a {
    text-decoration: none;
    font-size: 11px;
}

.colorless {
    background-color: rgb(226, 229, 237) !important;
}

.colorless a {
    color: black;
}

.tab-1 {
    background-color: rgb(255, 255, 255, 0.7);
    border: 1px dotted #e9ebec;
    padding: 10px;
    text-align: center;
}

.tab-1 h3 {
    font-size: 16px;
}

.tab-1 p {
    font-size: 14px;
    color: #878a99;
}

.green-color {
    color: rgb(10 179 156);
}

.map-div {
    background: rgb(255, 255, 255, .6);
}

.map-div img {
    width: 680px;
}


/*col-lg-4...right-side*/

.right-side {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px 6px 0 0;
}

.border-bottom h4 {
    font-size: 16px;
    color: #495057;
}

.Export-btn {
    background-color: #e2e5ed;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
}

.Export-btn a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.border-bottom {
    border-bottom: 1px solid #e9ebec;
    padding: 10px;
}

.map-photo {
    text-align: center;
    padding: 5px 0;
}

.map-photo img {
    max-width: 310px;
}


/*range-input*/

.range {
    padding: 5px 10px;
}

.range p {
    margin-bottom: 0;
    font-size: 14px;
}

.range input[type="range" i] {
    width: 100%;
    accent-color: rgb(64 81 137);
    height: 5px;
    cursor: pointer;
}

/* section-3 */

.section-3 {
    background-color: rgb(243, 243, 249);
    padding: 20px;
}

.section-3-left {
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 7px;
}

/* .section-3-left-head */

.section-3-left-head {
    padding-bottom: 10px;
    border-bottom: 1px solid #e9ebec;
}

.section-3-btn {
    background-color: transparent;
    border: 1px solid transparent;
}

.section-3-btn a {
    color: #878a99;
    text-decoration: none;
}

.section-3-btn a span {
    color: #000;
}

.section-3 .dropdown .dropdown-toggle::after {
    display: none;
}

.section-3-ul {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(30, 32, 37, .12);
}

.section-3-ul li {
    padding: 7px 0;
}

.section-3-ul li a {
    color: #878a99;
    text-decoration: none;
}

/* .section-3-left-table */

.section-3-left-table {
    overflow-x: auto;
    margin-top: 12px;
}

.section-3-left-table table tr td a {
    text-decoration: none;
    color: #000;
}

.section-3-left-table table tr td a span {
    color: #FE0000;
    background-color: rgb(255, 0, 0, .2);
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 3px;
}

.section-3-left-table table tr td p {
    color: #878a99;
    margin-bottom: 0;
}



/*RESPONSIVE*/

@media screen and (max-width: 1024px) {
    .side-navbar {
        padding: 10px;
        min-height: 100%;
    }

    .side-navbar .logo img {
        max-width: 120px;
        border-radius: 7px;
    }

    .side-navbar .dropdown .dropdown-toggle::after {
        margin-left: 0.255em;
        font-size: 16px;
    }



    .side-navbar .dropdown i {
        font-size: 14px;
    }

    .menu ul li a {
        font-size: 14px;
    }

    .dropdown-menu {
        padding: 10px;
    }

    .profile p {
        margin-bottom: 0px;
        font-size: 11px;
    }

    .profile img {
        max-width: 32px;
        border-radius: 55%;
    }

    .section-1 {
        padding: 10px 5px;
    }

    .card-body-right {
        padding: 5px 10px;
        border-radius: 4px;
    }

    .card-body-left h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .card-body-left a {
        font-size: 11px;
    }

    .card-1-right p {
        display: none;
    }

    .card-head {
        margin-bottom: 15px;
    }

    .section-2 {
        padding: 0px;
    }

    .tab-1 p {
        font-size: 12px;
        margin-bottom: 11px;
    }

    .tab-1 h3 {
        font-size: 18px;
    }

    .border-bottom h4 {
        font-size: 14px;
    }

    .Export-btn {
        padding: 5px 10px;
        font-size: 11px;
        border-radius: 3px;
    }

    .map-div img {
        width: 544px;
    }


    .map-photo img {
        max-width: 257px;
    }

    .card-1-left h3 {
        font-size: 12px;
    }



}

@media screen and (max-width: 768px) {

    .section-1 .site-btn {
        min-width: 113px;
        font-size: 13px;
        padding: 6px 6px;
    }

    .section-1 .left p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .card-1 {
        margin-bottom: 12px;
    }

    .side-navbar {
        min-height: 100%;
    }

    .menu h3 {
        font-size: 13px;
        margin-top: 40px;
    }


    .map-div img {
        width: 551px;
    }

    .section-1 .left h3 {
        font-size: 18px;
    }

    .card-body-left a {
        font-size: 14px;
    }

    .card-1-left h3 {
        font-size: 16px;
    }

    .card-body-left h3 {
        font-size: 18px;
    }

    .card-1-right i {
        font-size: 18px;
    }

    .border-bottom h4 {
        font-size: 16px;
    }

    .Export-btn a {
        font-size: 14px;
    }

    .map-photo img {
        max-width: 377px;
    }

    .btn-2 {
        padding: 0 12px;
    }

    .section-3-left {
        margin-bottom: 15px;
    }

    .section-3 {
        padding: 30px 0px 5px 0px;
    }
    
    
}

@media screen and (max-width: 375px) {
    .side-navbar {
        display: none;
    }

    .map-div img {
        width: 351px;
    }

    .profile p {
        display: none;
    }

    .profile {
        max-width: 42px;
        border-radius: 28px;
    }


    .icons .btn {
        padding: 8px 8px;
    }

    .map-photo img {
        max-width: 315px;
    }

    .card-1 {
        margin-bottom: 30px;
    }

    .section-1 .left h3 {
        font-size: 18px;
        margin: 12px 0 5px 0;
    }

    .section-1 .left p {
        margin-bottom: 18px;
    }

    .right {
        margin: 0 0 12px auto;
    }

    .section-1 .site-btn {
        min-width: 125px;
        font-size: 14px;
    }

    .section-3-left-head h4{
        font-size: 16px;
    }

}

@media screen and (max-width: 320px) {
    .btn-2 {
        padding: 0 5px;
    }

    .map-div img {
        width: 295px;
    }

    .map-photo img {
        max-width: 276px;
    }

    .profile-main .profile-btn {
        padding: 5px 0px;

    }

    .card-1-right i {
        font-size: 13px;
    }

    .profile {
        padding: 0;
    }

}